* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background: #000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

.grid-section h1 {
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
  font-weight: 400;
}

span {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
}

header {
  position: relative;
  z-index: 1;
}

img,
video {
  display: block;
  max-width: 100%;
}
.container {
  margin: 0 auto;
  max-width: 1179px;
}

.detail {
  width: 100%;
  height: 0.5rem;
  background: #232323;
}

.header {
  height: 5.375rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.header .logo {
  margin-right: auto;
  margin-left: 0;
}

.header .language {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 0.75rem;
  min-width: auto;
  width: auto;
  padding: 0;
}

.language select {
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  padding: 0.375rem 2.25rem 0.375rem 2.25rem;
  font-size: 1rem;
  font-weight: 400;
  border: 0 solid transparent;
  line-height: 1.25rem;
}

.language .language-item {
  position: absolute;
}

.language-item.item-1 {
  left: 0.75rem;
  width: 1rem;
  height: 1rem;
}

.language-item.item-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  padding-right: 0.75rem;
  background: #14191a;
  border: 1px solid rgba(128, 128, 128, 0.7);
  border-radius: 0.25rem;
  padding-top: 2px;
}

.header a {
  background: #e50914;
  margin: 0 0.75rem;
  margin-right: 0;
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  padding: 0.25rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  min-height: 2rem;
}

.header a:hover {
  background: #c11119;
}

.intro {
  min-height: 43.75rem;
  position: relative;
  padding: 3rem 0;
}

.intro-bg {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.intro-bg img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.25) translateY(-10%);
}

.intro-gradiente {
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-shrink: 0;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    rgba(0, 0, 0, 0.4);
}

.intro-content {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro p {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.form {
  display: inline-flex;
  padding: 0px 98.79px 0px 99.07px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.form span {
  line-height: 1.875rem;
}

form {
  display: flex;
  gap: 8px;
}

.form form input,
.questions input {
  padding: 1rem;
  height: 3.4375rem;
  width: 403px;
  border-radius: 0.5rem;
  border: 1px solid rgba(128, 128, 128, 0.7);
  background: #14191a;
  font-size: 1rem;
}

.form form button,
.questions button {
  display: flex;
  align-items: center;
  gap: 2px;
  background: #e50914;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 4px;
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  flex: 0 0 auto;
}

.form form button::after {
  content: "";
  background-image: url("../img/icons/arrow-right.svg");
  width: 24px;
  height: 24px;
}

.plan-bg {
  margin: 0 auto;
  width: 100%;
  position: absolute;
  transform: translateY(-50%);
}

.plan {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1.375rem 0;
  margin: 0 74px;
  background: radial-gradient(
    51.39% 511.66% at 47.68% -217.91%,
    #ff9900 0%,
    #e50914 17.27%,
    #0e1b4f 79.44%,
    #000413 100%
  );
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0px -8px 25px rgba(0, 0, 0, 0.5);
}

.plan p {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 500;
}

.plan span {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
  display: inline-block;
}

.plan-bg .plan a {
  display: flex;
  align-items: center;
  color: #448ef4;
  text-decoration: underline;
  font-weight: 500;
  background: none;
  cursor: pointer;
  gap: 8px;
  padding: 0;
  display: block;
}

.grid-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tv-device,
.device,
.kids,
.download {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.5rem;
  margin-bottom: 4.5rem;
  text-align: left;
}

.tv-content,
.device-content {
  position: relative;
  flex-basis: 50%;
}

.tv-content video {
  position: absolute;
  z-index: -1;
  top: 21%;
  left: 13%;
  max-width: 73%;
  max-height: 54%;
  width: 100%;
  height: 100%;
}

.device video {
  position: absolute;
  z-index: -1;
  top: 10%;
  left: 17%;
  max-width: 63%;
  max-height: 47%;
  width: 100%;
  height: 100%;
}

.kids-content {
  flex-basis: 50%;
  text-align: left;
}

.download {
  position: relative;
}

.download-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 14px;
  border-radius: 12px;
  border: 2px solid #414141;
  background: #000;
  box-shadow: 0px 0px 32px 0px #000;
  position: absolute;
  min-width: 15rem;
  bottom: 8%;
  left: 8%;
}

.download-item img:first-child {
  margin-right: 1rem;
}

.download-item h3 {
  font-size: 1rem;
  font-weight: 400;
}

.download-item span {
  color: #0071eb;
  font-size: 0.875rem;
  font-weight: 400;
}

.download-gif {
  content: "";
  height: 3rem;
  width: 3rem;
  background-image: url("../videos/download-icon.gif");
  background-size: contain;
}

.questions {
  text-align: center;
  padding: 5rem 0;
}
.questions h1 {
  margin-bottom: 1.5rem;
}

.questions dl {
  display: flex;
  flex-direction: column;
  gap: 0.5625rem;
  margin-bottom: 3.75rem;
}

.questions dt button {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 400;
  background: #2d2d2d;
  padding: 1.5rem;
  margin-bottom: 1px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  border: none;
}

.questions dt button:hover {
  background: #4e4e4e;
}

.questions dd {
  background: #2d2d2d;
  text-align: left;
  padding: 1.5rem;
  display: none;
}

.questions dd.ativa {
  display: block;
}

footer {
  padding: 4.5rem 0;
}

footer p {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffffb3;
  margin-bottom: 1.5rem;
}

footer p a {
  color: #ffffffb3;
  text-decoration: underline;
}

footer ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.75rem));
  gap: 0.75rem;
  font-size: 0.875rem;
  text-decoration: underline;
  padding: 0.75rem 0;
  margin-bottom: 1.5rem;
  font-weight: 400;
  line-height: 1.3125rem;
  width: 100%;
}

footer li a {
  color: #ffffffb3;
}

footer .language {
  display: flex;
  align-items: center;
  position: relative;
  min-width: auto;
  width: max-content;
  padding: 0;
  margin-bottom: 1.5rem;
}

footer.item-2 {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  padding-right: 0.75rem;
  background: #14191a;
  border: 1px solid rgba(128, 128, 128, 0.7);
  border-radius: 0.25rem;
  padding-top: 2px;
}

footer span {
  font-size: 0.875rem;
}
